.pytype
.idea
*.swp
*.pyc
doc/html
*.egg-info
*.pid
*.mp3
.eggs
.coverage*
postgres-data
dist
*.build
*.dist
man
build
logs
htmlcov
node_modules
pip-wheel-metadata
.testmondata
*.webm
*.mp3
*.flac
*.part
!tests/fixtures/*.mp3
.tool-versions
.DS_Store
