---
services:
  musicbot_prod:
    container_name: musicbot-prod
    image: "edgedb/edgedb:5.7"
    restart: always
    ports:
      - 5656:5656
    environment:
      EDGEDB_DOCKER_LOG_LEVEL: warning
      EDGEDB_SERVER_ADMIN_UI: enabled
      EDGEDB_SERVER_TLS_CERT_MODE: generate_self_signed
      EDGEDB_SERVER_SECURITY: insecure_dev_mode
      EDGEDB_SERVER_HTTP_ENDPOINT_SECURITY: optional
      EDGEDB_SERVER_BINARY_ENDPOINT_SECURITY: optional
      EDGEDB_SERVER_USER: musicbot
      EDGEDB_SERVER_PASSWORD: musicbot
    volumes:
      - ./dbschema:/dbschema
      - ./credentials:/root/.config/edgedb/credentials
      - musicbot-prod-data:/var/lib/edgedb/data
  musicbot_test:
    container_name: musicbot-test
    image: "edgedb/edgedb:5.7"
    restart: always
    ports:
      - 5657:5656
    environment:
      EDGEDB_DOCKER_LOG_LEVEL: debug
      EDGEDB_SERVER_SECURITY: insecure_dev_mode
      EDGEDB_SERVER_TLS_CERT_MODE: generate_self_signed
      EDGEDB_SERVER_ADMIN_UI: enabled
      EDGEDB_SERVER_USER: testuser
      EDGEDB_SERVER_PASSWORD: testpass
      EDGEDB_SERVER_HTTP_ENDPOINT_SECURITY: optional
      EDGEDB_SERVER_BINARY_ENDPOINT_SECURITY: optional
    volumes:
      - ./dbschema:/dbschema
      - musicbot-test-data:/var/lib/edgedb/data

volumes:
  musicbot-prod-data:
  musicbot-test-data: