[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
asyncpg = "*"
attrdict = "*"
PyYAML = "*"
tqdm = "*"
pytaglib = "*"
google-api-python-client = "*"
isodate = "*"
Sanic = "*"
pymongo = "*"
watchdog = "*"


[dev-packages]
