[tool.poetry]
name = "musicbot"
version = "0.7.3"
description = "Music swiss army knife"
authors = ["Adrien Pensart <crunchengine@gmail.com>"]
license = "MIT"
readme = "README.rst"

[tool.poetry.scripts]
musicbot = 'musicbot.main:main'

[tool.poetry.dependencies]
python = "<3.9,>=3.8"
pyrsistent = "0.17.2"
logging-tree = "^1.8"
pyacoustid = "^1.1"
python-vlc = "^3.0"
graphql-py = "^0.7.1"
prettytable = "^0.7.2"
prompt_toolkit = "^3.0.2"
watchdog = "^0.10.0"
youtube-dl = "^2020.1.24"
spotipy = "^2.10.0"
humanfriendly = "^8.1"
python-slugify = "^4.0.0"
mutagen = "^1.44.0"
pydub = "^0.24.0"
colorlog = "^4.1.0"
enlighten = "^1.6.1"
attrs = "^20.1.0"
requests = "^2.24.0"
jellyfish = "^0.8.2"
click-skeleton = "^0.7.0"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.6"
coverage-badge = "^1.0"
pytest-docker-compose = "^3.1.2"
html5lib = "^1.0.1"
dephell = "^0.8.3"
restructuredtext_lint = "^1.3.0"
bump2version = "^1.0.0"
pylint = "^2.6.0"
pytype = "^2020.8.28"
Pygments = "^2.7.0"
mypy = "^0.782"
flake8 = "^3.8.3"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--cov-report term-missing --durations=0 --cov musicbot --docker-compose-no-build -x --use-running-containers "

[tool.pylint.master]
jobs = 4
[tool.pylint.messages_control]
disable = """
disable=too-few-public-methods,logging-format-interpolation,line-too-long,too-many-arguments,protected-access,missing-docstring,invalid-name,too-many-public-methods,too-many-instance-attributes,duplicate-code,too-many-nested-blocks,too-many-branches,too-many-return-statements,too-many-statements,too-many-locals,too-few-public-methods,too-many-ancestors,abstract-method,anomalous-backslash-in-string,import-outside-toplevel,redefined-outer-name,unnecessary-lambda,c-extension-no-member,logging-fstring-interpolation
"""

[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}
