aiocache==0.10.0
aiofiles==0.4.0
aiohttp==3.4.2
aiomcache==0.6.0
aionotify==0.2.0
aioredis==1.1.0
alabaster==0.7.11
APScheduler==3.5.3
argh==0.26.2
astroid==2.0.4
async-timeout==3.0.0
asyncio==3.4.3
asyncpg==0.17.0
asynctest==0.12.2
atomicwrites==1.2.1
attrdict==2.0.0
attrs==18.2.0
Babel==2.6.0
beautifulsoup4==4.6.3
cachetools==2.1.0
certifi==2018.8.24
chardet==3.0.4
click==6.7
click-completion==0.4.1
click-didyoumean==0.0.3
click-man==0.2.2
click-repl==0.1.5
click-spinner==0.1.8
codecov==2.0.15
coloredlogs==10.0
coverage==4.5.1
Cython==0.28.5
docutils==0.14
dodgy==0.1.9
flake8==3.5.0
flake8-polyfill==1.0.2
google==2.0.1
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
gunicorn==19.9.0
hachiko==0.1
hiredis==0.2.0
httplib2==0.11.3
httptools==0.0.11
humanfriendly==4.16.1
idna==2.7
idna-ssl==1.1.0
isodate==0.6.0
isort==4.3.4
Jinja2==2.10
lazy-object-proxy==1.3.1
limits==1.3
logging-tree==1.8
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.3.0
msgpack==0.5.6
multidict==4.3.1
oauth2client==4.1.2
pathtools==0.1.2
pep8-naming==0.7.0
pluggy==0.7.1
prompt-toolkit==2.0.4
prospector==1.1.2
psycopg2==2.7.5
psycopg2-binary==2.7.5
pur==5.0.0
py==1.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.4.0
pydocstyle==2.1.1
pydub==0.22.1
pyflakes==2.0.0
pylint==2.1.1
pylint-plugin-utils==0.4
pytaglib==1.4.3
pytest==3.7.4
pytz==2018.5
pywatchman==1.4.1
PyYAML==3.13
requests==2.19.1
requirements-detector==0.6
rsa==3.4.2
sanic==0.7.0
sanic-limiter==0.1.3
sanic-openapi==0.4.0
Sanic-WTF==0.5.0
setoptconf==0.2.0
shellingham==1.2.4
six==1.11.0
snowballstemmer==1.2.1
tqdm==4.25.0
typed-ast==1.1.0
tzlocal==1.5.1
ujson==1.35
uritemplate==3.0.0
urllib3==1.23
uvloop==0.11.2
watchdog==0.9.0
wcwidth==0.1.7
websockets==6.0
wrapt==1.10.11
WTForms==2.2.1
yarl==1.2.6
