[Unit]
Description=Musicbot Server
Requires=network.target
After=network.target

[Service]
User=crunch
Type=simple
PIDFile=/var/run/gunicorn.pid
Environment=PATH=/home/crunch/.pyenv/versions/3.7.0/bin:$PATH
ExecStart=/home/crunch/musicbot/scripts/prod.sh
ExecStop=/bin/kill -s SIGHUP $MAINPID
StandardOutput=journal
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
